<div class="navbar-yourjob">
    <div class="logo">
        <%= link_to image_tag("logo_yourjob_copy.png", alt: "pic description", class: "main-logo"), root_path %>
        <div class="logo-text">
        <h1>Your Job</h1>
        </div>
    </div>
</div>

<% unless current_user.all_skills_rated? %>
    <div class="skills-uncomplete bg-warning text-center w-50 mx-auto py-2 rounded mt-2">
        <h4 class="m-0 text-light">You have skills left to complete</h4>
    </div>
<% end %>

<%# élément principal de la page %>
<div class="page-center">
    <h2>Check your skills</h2>
    <%# carte du skill (utiliser js) %>
    <%= simple_form_for current_user, url: profile_path do |f| %>
        <div class="siema">
            <div class="skill-card" data-skill-completed="<%= current_user.adaptability.present? %>">
                <h3>Adaptability</h3>
                <p>The ability to change (or be changed) to fit changed circumstances</p>
                <%# star rating %>
                <div class="stars-line full-stars-rating">
                    <div class="rating-group">
                        <% unless current_user.adaptability %>
                            <input disabled checked class="rating__input rating__input--none" name="user[adaptability]" id="adapt-none" value="0" type="radio">
                        <% end %>
                        <% (1..5).each do |n| %>
                            <label aria-label="<%= n %> star" class="rating__label" for="adaptability-<%= n %>"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                            <%= radio_button_tag("user[adaptability]", n, current_user.adaptability == n, id: "adaptability-#{n}", class: 'rating__input') %>
                        <% end %>
                    </div>
                </div>
                <%# image du skill %>
                <%= image_tag "adaptability.svg", class: "skill-image" %>
            </div> 
            <div class="skill-card" data-skill-completed="<%= current_user.communication.present? %>">
                <h3>Communication</h3>
                <p>The ability to exchange and listen informations with other individuals</p>
                <%# star rating %>
                <div class="stars-line full-stars-rating">
                    <div class="rating-group">
                        <% unless current_user.communication %>
                            <input disabled checked class="rating__input rating__input--none" name="user[communication]" id="adapt-none" value="0" type="radio">
                        <% end %>
                        <% (1..5).each do |n| %>
                            <label aria-label="<%= n %> star" class="rating__label" for="communication-<%= n %>"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                            <%= radio_button_tag("user[communication]", n, current_user.communication == n, id: "communication-#{n}", class: 'rating__input') %>
                        <% end %>
                    </div>
                </div>
                <%# image du skill %>
                <%= image_tag "communication.svg", class: "skill-image" %>
            </div>
            <div class="skill-card" data-skill-completed="<%= current_user.creativity.present? %>">
                <h3>Creativity</h3>
                <p>The ability to solve problems with relevance and novelty</p>
                <%# star rating %>
                <div class="stars-line full-stars-rating">
                    <div class="rating-group">
                        <% unless current_user.creativity %>
                            <input disabled checked class="rating__input rating__input--none" name="user[creativity]" id="adapt-none" value="0" type="radio">
                        <% end %>
                        <% (1..5).each do |n| %>
                            <label aria-label="<%= n %> star" class="rating__label" for="creativity-<%= n %>"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                            <%= radio_button_tag("user[creativity]", n, current_user.creativity == n, id: "creativity-#{n}", class: 'rating__input') %>
                        <% end %>
                    </div>
                </div>
                <%# image du skill %>
                <%= image_tag "creativity.svg", class: "skill-image" %>
            </div>
        </div>

        <%# boutton pour passer au skill suivant puis si last skill : end questions%>
        <button class="prev btn-ghost">Previous skill</button>
        <button class="next btn-ghost">Next skill</button>
        <div>
        <%= f.submit "Update my profile", class: "btn-submit" %>
        </div>
    <% end %> 
</div>
