<div class="all-elements">
    <%# LOGO tout seul :'( %>
    <div>
    <%= link_to image_tag("logo_yourjob_copy.png", class: "main-logo"), root_path %>
    </div>

    <%# carte profil %>
    <div class="profile-card">
        <%# haut de la carte %>
        <div class="profile-card-top">
          <%# picture + age %>
          <div class="image-block">
              <%= cl_image_tag current_user.profile_pic.key, class: "profile-pic" %>
          </div>
          <%# Name %>
          <div class="line-infos">
          <div class="name-infos">
            <div class="full-name">
              <h1><span><%= @user.first_name %></span> <%= @user.last_name %></h1>
            </div>
            <div class="user-infos">
              <p><i class="far fa-envelope", style="margin-right:2px;"></i> <%= @user.email %></p>
              <p><i class="fas fa-map-marker-alt", style="margin-right:5px;"></i> <%= @user.address %></p>
              <p><i class="fas fa-phone-alt"></i> <%= @user.phone_number %></p>
            </div>
          </div>
          <h3><%= @user.activity %> -  <%= @user.contract %> - <%= @user.location %></h3>
            <div class="quote">
              <h5>About Me</h5>
              <h4>"I am ready to start a new challenge. I've been studying coding during two months at LeWagon and, I am a Junior Developer able to program interfaces with the
              knowledge of CSS, HTML and Ruby languages."</h4>
            </div>
          </div>

        </div>
        <%# centre de la carte %>
        <div class="tableaux">
            <div class=tableau1>
                <div class="grid-skills">
                    <div class="skills-line" id="full-stars-rating">
                        <div class="rating-group">
                            <%# pour n == user[skill.value] n.star=> orange && star=< n.star => orange && star> n.star => gris %>
                            <% if current_user.interpersonal_skills.nil? %>
                                <h5 >To complete</h5>
                            <% else %>
                                <% (1..current_user.interpersonal_skills).each do |n| %>
                                    <label aria-label="<%= n %> star" class="rating__label" for="interpersonal_skills-<%= n %>"><i class="rating__icon rating__icon--star fa fa-star orange" style="color: orange;"></i></label>
                                <% end %>
                                <% (1..(5 - current_user.interpersonal_skills)).each do |n| %>
                                    <label aria-label="<%= n %> star" class="rating__label" for="interpersonal_skills-<%= n %>"><i class="rating__icon rating__icon--star fa fa-star grey" style="color: grey;"></i></label>
                                <% end %>
                            <% end %>
                        </div>

                        <div class="skills">
                            <h3>Interpersonal skills</h3>
                        </div>
                    </div>
                </div>
                <div class="grid-skills">
                    <div class="skills-line" id="full-stars-rating">
                        <div class="rating-group">
                            <% if current_user.rigor.nil? %>
                                <h5 >To complete</h5>
                            <% else %>
                                <% (1..current_user.rigor).each do |n| %>
                                    <label aria-label="<%= n %> star" class="rating__label" for="rigor-<%= n %>"><i class="rating__icon rating__icon--star fa fa-star orange" style="color: orange;"></i></label>
                                <% end %>
                                <% (1..(5 - current_user.rigor)).each do |n| %>
                                    <label aria-label="<%= n %> star" class="rating__label" for="rigor-<%= n %>"><i class="rating__icon rating__icon--star fa fa-star grey" style="color: grey;"></i></label>
                                <% end %>
                            <% end %>
                        </div>
                        <div class="skills">
                            <h3>Rigor</h3>
                        </div>
                    </div>
                </div>
                <div class="grid-skills">
                    <div class="skills-line" id="full-stars-rating">
                        <div class="rating-group">
                            <% if current_user.independence.nil? %>
                                <h5 >To complete</h5>
                            <% else %>
                                <% (1..current_user.independence).each do |n| %>
                                    <label aria-label="<%= n %> star" class="rating__label" for="independence-<%= n %>"><i class="rating__icon rating__icon--star fa fa-star orange" style="color: orange;"></i></label>
                                <% end %>
                                <% (1..(5 - current_user.independence)).each do |n| %>
                                    <label aria-label="<%= n %> star" class="rating__label" for="independence-<%= n %>"><i class="rating__icon rating__icon--star fa fa-star grey" style="color: grey;"></i></label>
                                <% end %>
                            <% end %>
                        </div>
                        <div class="skills">
                            <h3>Independence</h3>
                        </div>
                    </div>
                </div>
                <div class="grid-skills">
                    <div class="skills-line" id="full-stars-rating">
                        <div class="rating-group">
                            <% if current_user.communication.nil? %>
                                <h5 >To complete</h5>
                            <% else %>
                                <% (1..current_user.communication).each do |n| %>
                                    <label aria-label="<%= n %> star" class="rating__label" for="communication-<%= n %>"><i class="rating__icon rating__icon--star fa fa-star orange" style="color: orange;"></i></label>
                                <% end %>
                                <% (1..(5 - current_user.communication)).each do |n| %>
                                    <label aria-label="<%= n %> star" class="rating__label" for="communication-<%= n %>"><i class="rating__icon rating__icon--star fa fa-star grey" style="color: grey;"></i></label>
                                <% end %>
                            <% end %>
                        </div>
                        <div class="skills">
                            <h3>Communication</h3>
                        </div>
                    </div>
                </div>
                <div class="grid-skills">
                    <div class="skills-line" id="full-stars-rating">
                        <div class="rating-group">
                            <% if current_user.teamwork.nil? %>
                                <h5 >To complete</h5>
                            <% else %>
                                <% (1..current_user.teamwork).each do |n| %>
                                    <label aria-label="<%= n %> star" class="rating__label" for="teamwork-<%= n %>"><i class="rating__icon rating__icon--star fa fa-star orange" style="color: orange;"></i></label>
                                <% end %>
                                <% (1..(5 - current_user.teamwork)).each do |n| %>
                                    <label aria-label="<%= n %> star" class="rating__label" for="teamwork-<%= n %>"><i class="rating__icon rating__icon--star fa fa-star grey" style="color: grey;"></i></label>
                                <% end %>
                            <% end %>
                        </div>
                        <div class="skills">
                            <h3>Teamwork</h3>
                        </div>
                    </div>
                </div>
                <div class="grid-skills">
                    <div class="skills-line" id="full-stars-rating">
                        <div class="rating-group">
                            <% if current_user.creativity.nil? %>
                                <h5 >To complete</h5>
                            <% else %>
                                <% (1..current_user.creativity).each do |n| %>
                                    <label aria-label="<%= n %> star" class="rating__label" for="creativity-<%= n %>"><i class="rating__icon rating__icon--star fa fa-star orange" style="color: orange;"></i></label>
                                <% end %>
                                <% (1..(5 - current_user.creativity)).each do |n| %>
                                    <label aria-label="<%= n %> star" class="rating__label" for="creativity-<%= n %>"><i class="rating__icon rating__icon--star fa fa-star grey" style="color: grey;"></i></label>
                                <% end %>
                            <% end %>
                        </div>
                        <div class="skills">
                            <h3>Creativity</h3>
                        </div>
                    </div>
                </div>
                <div class="grid-skills">
                    <div class="skills-line" id="full-stars-rating">
                        <div class="rating-group">
                            <% if current_user.initiative.nil? %>
                                <h5 >To complete</h5>
                            <% else %>
                                <% (1..current_user.initiative).each do |n| %>
                                    <label aria-label="<%= n %> star" class="rating__label" for="initiative-<%= n %>"><i class="rating__icon rating__icon--star fa fa-star orange" style="color: orange;"></i></label>
                                <% end %>
                                <% (1..(5 - current_user.initiative)).each do |n| %>
                                    <label aria-label="<%= n %> star" class="rating__label" for="initiative-<%= n %>"><i class="rating__icon rating__icon--star fa fa-star grey" style="color: grey;"></i></label>
                                <% end %>
                            <% end %>
                        </div>
                        <div class="skills">
                            <h3>Initiative</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="border_profile"></div>
            <div class="border_profile"></div>
            <div class=tableau2>
                <div class="grid-skills">
                    <div class="skills-line" id="full-stars-rating">
                        <div class="skills">
                            <h3>Stress management</h3>
                        </div>
                        <div class="rating-group">
                            <% if current_user.stress_management.nil? %>
                                <h5 >To complete</h5>
                            <% else %>
                                <% (1..current_user.stress_management).each do |n| %>
                                    <label aria-label="<%= n %> star" class="rating__label" for="stress_management-<%= n %>"><i class="rating__icon rating__icon--star fa fa-star orange" style="color: orange;"></i></label>
                                <% end %>
                                <% (1..(5 - current_user.stress_management)).each do |n| %>
                                    <label aria-label="<%= n %> star" class="rating__label" for="stress_management-<%= n %>"><i class="rating__icon rating__icon--star fa fa-star grey" style="color: grey;"></i></label>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div class="grid-skills">
                    <div class="skills-line" id="full-stars-rating">
                        <div class="skills">
                            <h3>Perseverance</h3>
                        </div>
                        <div class="rating-group">
                            <% if current_user.perseverance.nil? %>
                                <h5 >To complete</h5>
                            <% else %>
                                <% (1..current_user.perseverance).each do |n| %>
                                    <label aria-label="<%= n %> star" class="rating__label" for="perseverance-<%= n %>"><i class="rating__icon rating__icon--star fa fa-star orange" style="color: orange;"></i></label>
                                <% end %>
                                <% (1..(5 - current_user.perseverance)).each do |n| %>
                                    <label aria-label="<%= n %> star" class="rating__label" for="perseverance-<%= n %>"><i class="rating__icon rating__icon--star fa fa-star grey" style="color: grey;"></i></label>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div class="grid-skills">
                    <div class="skills-line" id="full-stars-rating">
                        <div class="skills">
                            <h3>Decision making</h3>
                        </div>
                        <div class="rating-group">
                            <% if current_user.decision_making.nil? %>
                                <h5 >To complete</h5>
                            <% else %>
                                <% (1..current_user.decision_making).each do |n| %>
                                    <label aria-label="<%= n %> star" class="rating__label" for="decision_making-<%= n %>"><i class="rating__icon rating__icon--star fa fa-star orange" style="color: orange;"></i></label>
                                <% end %>
                                <% (1..(5 - current_user.decision_making)).each do |n| %>
                                    <label aria-label="<%= n %> star" class="rating__label" for="decision_making-<%= n %>"><i class="rating__icon rating__icon--star fa fa-star grey" style="color: grey;"></i></label>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div class="grid-skills">
                    <div class="skills-line" id="full-stars-rating">
                        <div class="skills">
                            <h3>Curiosity</h3>
                        </div>
                        <div class="rating-group">
                            <% if current_user.curiosity.nil? %>
                                <h5 >To complete</h5>
                            <% else %>
                                <% (1..current_user.curiosity).each do |n| %>
                                    <label aria-label="<%= n %> star" class="rating__label" for="curiosity-<%= n %>"><i class="rating__icon rating__icon--star fa fa-star orange" style="color: orange;"></i></label>
                                <% end %>
                                <% (1..(5 - current_user.curiosity)).each do |n| %>
                                    <label aria-label="<%= n %> star" class="rating__label" for="curiosity-<%= n %>"><i class="rating__icon rating__icon--star fa fa-star grey" style="color: grey;"></i></label>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div class="grid-skills">
                    <div class="skills-line" id="full-stars-rating">
                        <div class="skills">
                            <h3>Adaptability</h3>
                        </div>
                        <div class="rating-group">
                            <% if current_user.adaptability.nil? %>
                                <h5 >To complete</h5>
                            <% else %>
                                <% (1..current_user.adaptability).each do |n| %>
                                    <label aria-label="<%= n %> star" class="rating__label" for="adaptability-<%= n %>"><i class="rating__icon rating__icon--star fa fa-star orange" style="color: orange;"></i></label>
                                <% end %>
                                <% (1..(5 - current_user.adaptability)).each do |n| %>
                                    <label aria-label="<%= n %> star" class="rating__label" for="adaptability-<%= n %>"><i class="rating__icon rating__icon--star fa fa-star grey" style="color: grey;"></i></label>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div class="grid-skills">
                    <div class="skills-line" id="full-stars-rating">
                        <div class="skills">
                            <h3>Enthusiasm</h3>
                        </div>
                        <div class="rating-group">
                            <% if current_user.enthusiam.nil? %>
                                <h5 >To complete</h5>
                            <% else %>
                                <% (1..current_user.enthusiam).each do |n| %>
                                    <label aria-label="<%= n %> star" class="rating__label" for="enthusiasm-<%= n %>"><i class="rating__icon rating__icon--star fa fa-star orange" style="color: orange;"></i></label>
                                <% end %>
                                <% (1..(5 - current_user.enthusiam)).each do |n| %>
                                    <label aria-label="<%= n %> star" class="rating__label" for="enthusiasm-<%= n %>"><i class="rating__icon rating__icon--star fa fa-star grey" style="color: grey;"></i></label>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div class="grid-skills">
                    <div class="skills-line" id="full-stars-rating">
                        <div class="skills">
                            <h3>Flexibility</h3>
                        </div>
                        <div class="rating-group">
                            <% if current_user.flexibility.nil? %>
                                <h5 >To complete</h5>
                            <% else %>
                                <% (1..current_user.flexibility).each do |n| %>
                                    <label aria-label="<%= n %> star" class="rating__label" for="flexibility-<%= n %>"><i class="rating__icon rating__icon--star fa fa-star orange" style="color: orange;"></i></label>
                                <% end %>
                                <% (1..(5 - current_user.flexibility)).each do |n| %>
                                    <label aria-label="<%= n %> star" class="rating__label" for="flexibility-<%= n %>"><i class="rating__icon rating__icon--star fa fa-star grey" style="color: grey;"></i></label>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div class="grid-skills">
                    <div class="skills-line" id="full-stars-rating">
                        <div class="skills">
                            <h3>Empathy</h3>
                        </div>
                        <div class="rating-group">
                            <% if current_user.empathy.nil? %>
                                <h5 >To complete</h5>
                            <% else %>
                                <% (1..current_user.empathy).each do |n| %>
                                    <label aria-label="<%= n %> star" class="rating__label" for="empathy-<%= n %>"><i class="rating__icon rating__icon--star fa fa-star orange" style="color: orange;"></i></label>
                                <% end %>
                                <% (1..(5 - current_user.empathy)).each do |n| %>
                                    <label aria-label="<%= n %> star" class="rating__label" for="empathy-<%= n %>"><i class="rating__icon rating__icon--star fa fa-star grey" style="color: grey;"></i></label>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="testbutton profil-test-btn" style="margin-bottom: 250px;">
            <% if current_user.all_skills_rated? %>
                <a class="link"><%= link_to "Apply for a new job", offers_path, data:{turbolinks: false}, class:"btn-ghost"%></a>
            <% else %>
                <a class="link"><%= link_to "Complete your registration", offers_path, data:{turbolinks: false}, class:"btn-ghost"%></a>
            <% end %>
        </div>
    </div>
    <%# OFFRES d'emploi candidaté %>
    <div class="applications-column">
        <h3>Applications</h3>
        <div>
          <% if @user.applies.blank? %>
            <h4 class="sentence">No pending applications.<br>Check out the offers that match your personality.<br>Recruiters are waiting to hear from you, <%= @user.first_name %>.</h4 class="sentence">
          <% else %>
            <%# offer cards %>
            <% @user.applies.each do |apply| %>
            <%# offer_applies_path(@offer.id) %>
                <%= link_to offer_path(apply.offer_id), data:{turbolinks: false}, class: "btn-apply-card" do %>
                    <div class="offer-card">
                        <div class="company-logo-infos">
                            <div class="logo-company">
                                <%= cl_image_tag apply.offer.recruiter.logo.key %>
                            </div>
                            <div class="border_card"></div>
                            <div class="company-infos">
                                <h2><strong><%= apply.offer.title %></strong></h2>
                                <p><%= apply.offer.contract %></p>
                                <h4><%= apply.offer.recruiter.company %></h4>
                                <div class="colored-text">
                                    <p><i class="fas fa-map-marker-alt icon"></i><%= apply.offer.location %></p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <h4 class="status-apply"><strong><%= apply.status %></strong></h4>
                    </div>
                <% end %>
            <% end %>
          <% end %>
        </div>
    </div>
</div>
