<div class="all-elements">
    <%# LOGO tout seul :'( %>
    <div>
    <%= link_to image_tag("logo_yourjob_copy.png", class: "main-logo"), root_path %>
    </div>

    <%# carte profil %>
    <div class="profile-card">
        <%# haut de la carte %>
        <div class="profile-card-top">
          <%# picture + age %>
          <div class="image-block">
              <%= cl_image_tag current_user.profile_pic.key, class: "profile-pic" %>
          </div>
          <%# Name %>
          <div class="line-infos">
          <div class="name-infos">
            <div class="full-name">
              <h2><%= @user.first_name %></h2><h1><%= @user.last_name %></h1>
            </div>
            <div class="user-infos">
              <p><i class="far fa-envelope"></i> <%= @user.email %></p>
              <p><i class="fas fa-map-marker-alt"></i> <%= @user.address %></p>
            </div>
          </div>
          <h3><%= @user.activity %> -  <%= @user.contract %> - <%= @user.location %></h3>
            <div class="quote">
              <h5>About Me</h5>
              <h4>"I am ready to start a new challenge. After being formed at
              LeWagon, I am a Junior Developer able to program interfaces with the
              knowledge of CSS, HTML and Ruby languages."</h4>
            </div>
            </div>

        </div>
        <%# centre de la carte %>
        <div class="tableaux">
          <div class=tableau1>
          <div class="grid-skills">
            <div class="skills-line" id="full-stars-rating">
              <div class="rating-group">
                <input disabled checked class="rating__input rating__input--none" name="rating3" id="rating3-none" value="0" type="radio">
                <label aria-label="1 star" class="rating__label" for="interpersonal_skills-1"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="interpersonal_skills" id="interpersonal_skills-1" value="1" type="radio">
                <label aria-label="2 stars" class="rating__label" for="interpersonal_skills-2"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="interpersonal_skills" id="interpersonal_skills-2" value="2" type="radio">
                <label aria-label="3 stars" class="rating__label" for="interpersonal_skills-3"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="interpersonal_skills" id="interpersonal_skills-3" value="3" type="radio">
                <label aria-label="4 stars" class="rating__label" for="interpersonal_skills-4"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="interpersonal_skills" id="interpersonal_skills-4" value="4" type="radio">
                <label aria-label="5 stars" class="rating__label" for="interpersonal_skills-5"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="interpersonal_skills" id="interpersonal_skills-5" value="5" type="radio">
              </div>
              <div class="skills">
                <h3>Interpersonal skills</h3>
              </div>
            </div>
          </div>
          <div class="grid-skills">
            <div class="skills-line" id="full-stars-rating">
              <div class="rating-group">
                <input disabled checked class="rating__input rating__input--none" name="rating3" id="rating3-none" value="0" type="radio">
                <label aria-label="1 star" class="rating__label" for="rigor-1"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="rigor" id="rigor-1" value="1" type="radio">
                <label aria-label="2 stars" class="rating__label" for="rigor-2"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="rigor" id="rigor-2" value="2" type="radio">
                <label aria-label="3 stars" class="rating__label" for="rigor-3"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="rigor" id="rigor-3" value="3" type="radio">
                <label aria-label="4 stars" class="rating__label" for="rigor-4"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="rigor" id="rigor-4" value="4" type="radio">
                <label aria-label="5 stars" class="rating__label" for="rigor-5"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="rigor" id="rigor-5" value="5" type="radio">
              </div>
              <div class="skills">
                <h3>Rigor</h3>
              </div>
            </div>
          </div>
          <div class="grid-skills">
            <div class="skills-line" id="full-stars-rating">
              <div class="rating-group">
                <input disabled checked class="rating__input rating__input--none" name="rating3" id="rating3-none" value="0" type="radio">
                <label aria-label="1 star" class="rating__label" for="independence-1"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="independence" id="independence-1" value="1" type="radio">
                <label aria-label="2 stars" class="rating__label" for="independence-2"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="independence" id="independence-2" value="2" type="radio">
                <label aria-label="3 stars" class="rating__label" for="independence-3"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="independence" id="independence-3" value="3" type="radio">
                <label aria-label="4 stars" class="rating__label" for="independence-4"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="independence" id="independence-4" value="4" type="radio">
                <label aria-label="5 stars" class="rating__label" for="independence-5"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="independence" id="independence-5" value="5" type="radio">
              </div>
              <div class="skills">
                <h3>Independence</h3>
              </div>
            </div>
          </div>
          <div class="grid-skills">
            <div class="skills-line" id="full-stars-rating">
              <div class="rating-group">
                <input disabled checked class="rating__input rating__input--none" name="rating3" id="rating3-none" value="0" type="radio">
                <label aria-label="1 star" class="rating__label" for="communication-1"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="communication" id="communication-1" value="1" type="radio">
                <label aria-label="2 stars" class="rating__label" for="communication-2"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="communication" id="communication-2" value="2" type="radio">
                <label aria-label="3 stars" class="rating__label" for="communication-3"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="communication" id="communication-3" value="3" type="radio">
                <label aria-label="4 stars" class="rating__label" for="communication-4"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="communication" id="communication-4" value="4" type="radio">
                <label aria-label="5 stars" class="rating__label" for="communication-5"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="communication" id="communication-5" value="5" type="radio">
              </div>
              <div class="skills">
                <h3>Communication</h3>
              </div>
            </div>
          </div>
          <div class="grid-skills">
            <div class="skills-line" id="full-stars-rating">
              <div class="rating-group">
                <input disabled checked class="rating__input rating__input--none" name="rating3" id="rating3-none" value="0" type="radio">
                <label aria-label="1 star" class="rating__label" for="teamwork-1"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="teamwork" id="teamwork-1" value="1" type="radio">
                <label aria-label="2 stars" class="rating__label" for="teamwork-2"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="teamwork" id="teamwork-2" value="2" type="radio">
                <label aria-label="3 stars" class="rating__label" for="teamwork-3"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="teamwork" id="teamwork-3" value="3" type="radio">
                <label aria-label="4 stars" class="rating__label" for="teamwork-4"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="teamwork" id="teamwork-4" value="4" type="radio">
                <label aria-label="5 stars" class="rating__label" for="teamwork-5"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="teamwork" id="teamwork-5" value="5" type="radio">
              </div>
              <div class="skills">
                <h3>Teamwork</h3>
              </div>
            </div>
          </div>
          <div class="grid-skills">
            <div class="skills-line" id="full-stars-rating">
              <div class="rating-group">
                <input disabled checked class="rating__input rating__input--none" name="rating3" id="rating3-none" value="0" type="radio">
                <label aria-label="1 star" class="rating__label" for="teamwork-1"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="teamwork" id="creativity-1" value="1" type="radio">
                <label aria-label="2 stars" class="rating__label" for="creativity-2"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="creativity" id="creativity-2" value="2" type="radio">
                <label aria-label="3 stars" class="rating__label" for="creativity-3"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="creativity" id="creativity-3" value="3" type="radio">
                <label aria-label="4 stars" class="rating__label" for="creativity-4"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="creativity" id="creativity-4" value="4" type="radio">
                <label aria-label="5 stars" class="rating__label" for="creativity-5"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="creativity" id="creativity-5" value="5" type="radio">
              </div>
              <div class="skills">
                <h3>Creativity</h3>
              </div>
            </div>
          </div>
          <div class="grid-skills">
            <div class="skills-line" id="full-stars-rating">
              <div class="rating-group">
                <input disabled checked class="rating__input rating__input--none" name="rating3" id="rating3-none" value="0" type="radio">
                <label aria-label="1 star" class="rating__label" for="initiative-1"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="initiative" id="initiative-1" value="1" type="radio">
                <label aria-label="2 stars" class="rating__label" for="initiative-2"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="initiative" id="initiative-2" value="2" type="radio">
                <label aria-label="3 stars" class="rating__label" for="initiative-3"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="initiative" id="initiative-3" value="3" type="radio">
                <label aria-label="4 stars" class="rating__label" for="initiative-4"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="initiative" id="initiative-4" value="4" type="radio">
                <label aria-label="5 stars" class="rating__label" for="initiative-5"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="initiative" id="initiative-5" value="5" type="radio">
              </div>
              <div class="skills">
                <h3>Initiative</h3>
              </div>
            </div>
          </div>
        </div>
            <div class=tableau2>
          <div class="grid-skills">
            <div class="skills-line" id="full-stars-rating">
              <div class="skills">
                <h3>Stress management</h3>
              </div>
              <div class="rating-group">
                <input disabled checked class="rating__input rating__input--none" name="rating3" id="rating3-none" value="0" type="radio">
                <label aria-label="1 star" class="rating__label" for="stress_management-1"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="stress_management" id="stress_management-1" value="1" type="radio">
                <label aria-label="2 stars" class="rating__label" for="stress_management-2"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="stress_management" id="stress_management-2" value="2" type="radio">
                <label aria-label="3 stars" class="rating__label" for="stress_management-3"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="stress_management" id="stress_management-3" value="3" type="radio">
                <label aria-label="4 stars" class="rating__label" for="stress_management-4"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="stress_management" id="stress_management-4" value="4" type="radio">
                <label aria-label="5 stars" class="rating__label" for="stress_management-5"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="stress_management" id="stress_management-5" value="5" type="radio">
              </div>
            </div>
          </div>
          <div class="grid-skills">
            <div class="skills-line" id="full-stars-rating">
              <div class="skills">
                <h3>Perseverance</h3>
              </div>
              <div class="rating-group">
                <input disabled checked class="rating__input rating__input--none" name="rating3" id="rating3-none" value="0" type="radio">
                <label aria-label="1 star" class="rating__label" for="perseverance-1"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="perseverance" id="perseverance-1" value="1" type="radio">
                <label aria-label="2 stars" class="rating__label" for="perseverance-2"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="perseverance" id="perseverance-2" value="2" type="radio">
                <label aria-label="3 stars" class="rating__label" for="perseverance-3"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="perseverance" id="perseverance-3" value="3" type="radio">
                <label aria-label="4 stars" class="rating__label" for="perseverance-4"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="perseverance" id="perseverance-4" value="4" type="radio">
                <label aria-label="5 stars" class="rating__label" for="perseverance-5"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="perseverance" id="perseverance-5" value="5" type="radio">
              </div>
            </div>
          </div>
          <div class="grid-skills">
            <div class="skills-line" id="full-stars-rating">
              <div class="skills">
                <h3>Decision making</h3>
              </div>
              <div class="rating-group">
                <input disabled checked class="rating__input rating__input--none" name="rating3" id="rating3-none" value="0" type="radio">
                <label aria-label="1 star" class="rating__label" for="decision_making-1"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="decision_making" id="decision_making-1" value="1" type="radio">
                <label aria-label="2 stars" class="rating__label" for="decision_making-2"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="decision_making" id="decision_making-2" value="2" type="radio">
                <label aria-label="3 stars" class="rating__label" for="decision_making-3"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="decision_making" id="decision_making-3" value="3" type="radio">
                <label aria-label="4 stars" class="rating__label" for="decision_making-4"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="decision_making" id="decision_making-4" value="4" type="radio">
                <label aria-label="5 stars" class="rating__label" for="decision_making-5"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="decision_making" id="decision_making-5" value="5" type="radio">
              </div>
            </div>
          </div>
          <div class="grid-skills">
            <div class="skills-line" id="full-stars-rating">
              <div class="skills">
                <h3>Curiosity</h3>
              </div>
              <div class="rating-group">
                <input disabled checked class="rating__input rating__input--none" name="rating3" id="rating3-none" value="0" type="radio">
                <label aria-label="1 star" class="rating__label" for="curiosity-1"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="curiosity" id="curiosity-1" value="1" type="radio">
                <label aria-label="2 stars" class="rating__label" for="curiosity-2"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="curiosity" id="curiosity-2" value="2" type="radio">
                <label aria-label="3 stars" class="rating__label" for="curiosity-3"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="curiosity" id="curiosity-3" value="3" type="radio">
                <label aria-label="4 stars" class="rating__label" for="curiosity-4"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="curiosity" id="curiosity-4" value="4" type="radio">
                <label aria-label="5 stars" class="rating__label" for="curiosity-5"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="curiosity" id="curiosity-5" value="5" type="radio">
              </div>
            </div>
          </div>
          <div class="grid-skills">
            <div class="skills-line" id="full-stars-rating">
              <div class="skills">
                <h3>Adaptability</h3>
              </div>
              <div class="rating-group">
                <input disabled checked class="rating__input rating__input--none" name="rating3" id="rating3-none" value="0" type="radio">
                <label aria-label="1 star" class="rating__label" for="adaptability-1"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="adaptability" id="adaptability-1" value="1" type="radio">
                <label aria-label="2 stars" class="rating__label" for="adaptability-2"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="adaptability" id="adaptability-2" value="2" type="radio">
                <label aria-label="3 stars" class="rating__label" for="adaptability-3"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="adaptability" id="adaptability-3" value="3" type="radio">
                <label aria-label="4 stars" class="rating__label" for="adaptability-4"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="adaptability" id="adaptability-4" value="4" type="radio">
                <label aria-label="5 stars" class="rating__label" for="adaptability-5"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="adaptability" id="adaptability-5" value="5" type="radio">
              </div>
            </div>
          </div>
          <div class="grid-skills">
            <div class="skills-line" id="full-stars-rating">
              <div class="skills">
                <h3>Enthusiam</h3>
              </div>
              <div class="rating-group">
                <input disabled checked class="rating__input rating__input--none" name="rating3" id="rating3-none" value="0" type="radio">
                <label aria-label="1 star" class="rating__label" for="enthusiam-1"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="enthusiam" id="enthusiam-1" value="1" type="radio">
                <label aria-label="2 stars" class="rating__label" for="enthusiam-2"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="enthusiam" id="enthusiam-2" value="2" type="radio">
                <label aria-label="3 stars" class="rating__label" for="enthusiam-3"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="enthusiam" id="enthusiam-3" value="3" type="radio">
                <label aria-label="4 stars" class="rating__label" for="enthusiam-4"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="enthusiam" id="enthusiam-4" value="4" type="radio">
                <label aria-label="5 stars" class="rating__label" for="enthusiam-5"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="enthusiam" id="enthusiam-5" value="5" type="radio">
              </div>
            </div>
          </div>
          <div class="grid-skills">
            <div class="skills-line" id="full-stars-rating">
              <div class="skills">
                <h3>Flexibility</h3>
              </div>
              <div class="rating-group">
                <input disabled checked class="rating__input rating__input--none" name="rating3" id="rating3-none" value="0" type="radio">
                <label aria-label="1 star" class="rating__label" for="flexibility-1"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="flexibility" id="flexibility-1" value="1" type="radio">
                <label aria-label="2 stars" class="rating__label" for="flexibility-2"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="flexibility" id="flexibility-2" value="2" type="radio">
                <label aria-label="3 stars" class="rating__label" for="flexibility-3"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="flexibility" id="flexibility-3" value="3" type="radio">
                <label aria-label="4 stars" class="rating__label" for="flexibility-4"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="flexibility" id="flexibility-4" value="4" type="radio">
                <label aria-label="5 stars" class="rating__label" for="flexibility-5"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="flexibility" id="flexibility-5" value="5" type="radio">
              </div>
            </div>
          </div>
          <div class="grid-skills">
            <div class="skills-line" id="full-stars-rating">
              <div class="skills">
                <h3>Empathy</h3>
              </div>
              <div class="rating-group">
                <input disabled checked class="rating__input rating__input--none" name="rating3" id="rating3-none" value="0" type="radio">
                <label aria-label="1 star" class="rating__label" for="empathy-1"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="empathy" id="empathy-1" value="1" type="radio">
                <label aria-label="2 stars" class="rating__label" for="empathy-2"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="empathy" id="empathy-2" value="2" type="radio">
                <label aria-label="3 stars" class="rating__label" for="empathy-3"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="empathy" id="empathy-3" value="3" type="radio">
                <label aria-label="4 stars" class="rating__label" for="empathy-4"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="empathy" id="empathy-4" value="4" type="radio">
                <label aria-label="5 stars" class="rating__label" for="empathy-5"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="empathy" id="empathy-5" value="5" type="radio">
              </div>
            </div>
          </div>
        </div>
      </div>
          <div class="testbutton" style="margin-bottom: 250px;">
            <a class="link"><%= link_to "Apply for a new job", offers_path, data:{turbolinks: false}, class:"btn-ghost"%></a>
          </div>
    </div>
    <%# OFFRES d'emploi candidaté %>
  <div class="applications-column">
    <h3>Applications</h3>
    <%# offer cards %>
    <% @user.applies.each do |apply| %>
    <%# offer_applies_path(@offer.id) %>
        <%= link_to offer_path(apply.offer_id), data:{turbolinks: false}, class: "btn-apply-card" do %>
        <div class="offer-card">
            <div class="company-logo-infos">
                <div class="logo-company">
                    <%= cl_image_tag apply.offer.recruiter.logo.key %>
                </div>
                <div class="company-infos">
                    <h2><strong><%= apply.offer.title %></strong></h2>
                    <h4><%= apply.offer.recruiter.company %></h4>
                    <div class="colored-text">
                        <p><i class="fas fa-file-contract icon"></i><%= apply.offer.contract %></p>
                        <p><i class="fas fa-map-marker-alt icon"></i><%= apply.offer.location %></p>
                    </div>
                </div>
            </div>
            <h4 class="status-apply"><strong><%= apply.status %></strong></h4>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
