<div class="container">
  <div class="container-home">
    <div class="banner">
      <div class="logo">
        <%= image_tag "logo_yourjob_copy.png", alt: "pic description"%>
        <div class="logo-text">
          <h1>Your Job</h1>
        </div>
      </div>

      <div class="sentences">
        <h2>Junior Jobs and Personalized Skills</h2>
        <p>Meet the perfect junior job with your personalized skills! <br>
        <strong>YourJob</strong> is the best postulate advisor!</p>
      </div>
      <div class="homebutton">
        <% if current_user == nil %>
          <a class="link"><%= link_to "Sign up", profile_path, class:"btn-ghost" %></a>
        <% else %>
          <a class="link"><%= link_to "Go to your profile", profile_path, class:"btn-ghost" %></a>
        <% end %>
      </div>
    </div>

    <div class="container-right">
      <div class="log-sign">
        <% if current_user == nil %>
          <div>
            <%= link_to image_tag("access_account.svg"), profile_path %>
            <h3><%= link_to "Login", profile_path %></h3>
          </div>

          <div>
            <%= link_to image_tag("sign_up.svg"), profile_path %>
            <h3><%= link_to "Sign up", profile_path %></h3>
          </div>
        <% else %>
          <div>
            <%= link_to image_tag("job_offers.svg"), offers_path %>
            <h3><%= link_to "Opportunities", offers_path %></h3>
          </div>
          <div>
            <%= link_to image_tag("Log_out_image.svg"), root_path %>
            <h3><%= link_to "Sign out", destroy_user_session_path %></h3>
          </div>

        <% end %>
      </div>
      <div class="office-draw">
        <%= image_tag "fond_img_rogne.png", class: "image"%>
        <%= image_tag "background.png" %>
      </div>
    </div>
  </div>
</div>


