<div class="navbar-yourjob">
  <div class="logo">
      <%= image_tag "logo_yourjob_copy.png"%>
      <h1>Your Job</h1>
  </div>
  <div class="avatar">
    <img src="" name="avatar">
  </div>
</div>

<div class="offers-container">
  <div class="left-container">
    <div class="offer-description">
      <ul>
        <%= image_tag "business-time-solid.svg"%><p><%#= @profile.activity %>Googleman</p>
        <%= image_tag "map-marker-alt-solid.svg"%><p><%#= @profile.location %>Nantes</p>
        <%= image_tag "file-contract-solid.svg"%><p><%#= @profile.contract %>Long-term</p><%= image_tag "search-solid.svg"%>
      </ul>
    </div>
    <div class="card-container">
      <% @offers.each do |offer| %>
        <div class="card-product">
          <%= cl_image_tag offer.recruiter.logo.key %>
          <div class="list-details">
            <h2><%= offer.title %></h2>
            <h4><%= offer.recruiter.company %></h4>
            <br>
            <p><%= image_tag "map-marker-alt-solid.svg"%><%= offer.location %></p>
            <p><%= image_tag "file-contract-solid.svg"%><%= offer.contract %></p>
           </div>
          <%#= stats de compatibilité %>

            <div class="testbutton">
              <%= link_to "See the offer", offer_path(offer),  data: { turbolinks: false }, class:"btn-ghost" %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
  <div id="map"
       style="width: 400px; height: 80vh;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
