<div class="navbar-yourjob" style="box-shadow: 10px 3px 25px #bababa;  justify-content:space-between;">
  <div class="logo">
    <%= link_to image_tag("logo_yourjob_copy.png", alt: "pic description"), root_path %>
    <div class="logo-text">
      <h1>Your Job</h1>
    </div>
  </div>
  <div class="avatar">
      <%= link_to cl_image_tag(current_user.profile_pic.key, class: "avatar dropdown-toggle", id: "navbarDropdown", 'aria-haspopup': true, 'aria-expanded': false), root_path %>
  </div>
</div>
<div class="flex-container">
<div class="offers-container">
  <div class="left-container">
    <div class="offer-description">
      <ul>
        <div class="icons-offers">
          <i class="fas fa-business-time icon"></i>
          <p><%= current_user.activity %></p>
        </div>
        <div class="icons-offers">
          <i class="fas fa-map-marker-alt icon"></i>
          <p><%= current_user.location %></p>
        </div>
        <div class="icons-offers">
          <i class="fas fa-file-contract icon"></i>
          <p><%= current_user.contract %></p>
        </div>
        <div class="icons-offers">
          <i class="fas fa-search icon-search"></i>
        </div>
      </ul>
    </div>

    <div class="card-container">
      <% @offers.each do |offer| %>
        <% if current_user.activity == offer.activity && offer.location.include?(current_user.location) && current_user.contract == offer.contract %>
          <div class="card-product">
            <%= cl_image_tag offer.recruiter.logo.key %><p class="bordure_verticale"></p>
            <div class="list-details">
              <h2><%= offer.title %></h2>
              <h4><%= offer.recruiter.company %></h4>
              <h5><%= offer.activity %></h5>

              <div class="icons-offers">
                <i class="fas fa-map-marker-alt icon"></i>
                <p><%= offer.location %></p>
              </div>
              <div class="icons-offers">
                <i class="fas fa-file-contract icon"></i>
                <p><%= offer.contract %></p>
              </div>
             </div>

              <div class="testbutton">
                <div class="compatibility">
                  <span class="matching-percentage-js matching-percentage-css" data-percentage="<%= offer.matching_percentage %>"><%#= '%.2f' % offer.matching_percentage %></span>

                </div>
                <a class="link"><%= link_to "See the offer", offer_path(offer),  data: { turbolinks: false }, class:"btn-ghost" %></a>
            </div>
          </div>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
  <div class="fixed-map">
    <div id="map"
         style="width: 600px;" frameborder="0" style="border:0"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
