<% content_for :meta_title, "#{@offer.title} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @offer.description %>
<% content_for :meta_image, cl_image_path(@offer.recruiter.logo.key) %>

<div class="navbar-yourjob" style="height:0px; box-shadow: 10px 3px 25px #bababa;  justify-content:space-between; z-index:9px;">
  <div class="logo">
    <%= link_to image_tag("logo_yourjob_copy.png"), root_path %>
    <div class="logo-text">
      <h1>Your Job</h1>
    </div>
  </div>

  <div class="avatar">
    <%= link_to cl_image_tag(current_user.profile_pic.key, class: "avatar dropdown-toggle", id: "navbarDropdown", 'aria-haspopup': true, 'aria-expanded': false), profile_path %>
  </div>
</div>

<div class="ticket">
  <div class="align-titles">
    <h2><%= @offer.title %></h2>
    <div class="text-draw">
      <ul>
        <div class="list-offer">
          <i class="fas fa-business-time icon"></i>
          <p><%= current_user.activity %></p>
        </div>
        <div class="list-offer">
          <i class="fas fa-map-marker-alt icon"></i>
          <p><%= current_user.location %></p>
        </div>
        <div class="list-offer">
          <i class="fas fa-file-contract icon"></i>
          <p><%= current_user.contract %></p>
        </div>
      </ul>
    </div>
  </div>

  <div class="ticket-text">
    <div class="text">
      <h1>Offer description</h1>
      <h3><%= @offer.description %></h3>
    </div>
    <div class="radar">
      <div class="testbutton1">
        <% if @already_applied %>
          <canvas id="graph1"
                  data-user-fullname="<%= "#{@user.last_name} #{@user.first_name}" %>"
                  data-company-name="<%= @offer.recruiter.company %>"
                  data-user-skills="<%= @user_skills.to_json %>"
                  data-offer-skills="<%= @offer_skills.to_json %>"
                  ></canvas>
        <% else %>
          <div class="link">
            <%= link_to "Apply", offer_applies_path(@offer.id),method: :post, class:"btn-ghost", id: "apply" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div id="map"
      style="width:100%;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

