<div class="navbar-yourjob" style="box-shadow: 10px 3px 25px #bababa;  justify-content:space-between; z-index:9px;">
  <div class="logo">
    <%= image_tag "logo_yourjob_copy.png" %>
    <div class="logo-text">
      <h1>Your Job</h1>
    </div>
  </div>

  <div class="avatar">
    <%= cl_image_tag current_user.profile_pic.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
  </div>
</div>

<div class="ticket">
  <div class="align-titles">
    <h2><%= @offer.title %></h2>
  <div class="text-draw">
      <ul>
        <div class="list-offer">
          <i class="fas fa-business-time icon"></i>
          <p><%= current_user.activity %></p>
        </div>
        <div class="list-offer">
          <i class="fas fa-map-marker-alt icon"></i>
          <p><%= current_user.location %></p>
        </div>
        <div class="list-offer">
          <i class="fas fa-file-contract icon"></i>
          <p><%= current_user.contract %></p>
        </div>
      </ul>
    </div>
  </div>
  <div class="ticket-text" style="height:auto;">
    <div><h1>Offer description</h1>
    <h3><%= @offer.description %></h3></div>
  <div class="testbutton" style=" margin-top: 100px;">

    <a class="link"><%= link_to "Apply", offer_path(@offer),  data: { turbolinks: false }, class:"btn-ghost", :onclick => 'displayChartRadar()', remote: true, id: "apply" %></a>
    <canvas id="graph1" style="display: none;"></canvas>

  </div>
  </div>
</div>

<div id="map"
  style="width: 100%; margin-top: 100px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>


<script>
  function displayChartRadar() {
    const radar = document.getElementById("graph1");
    radar.style.display = "block";
    const buttonApply = document.getElementById("apply");
    buttonApply.style.display = "none";
  }
</script>
